__pycache__/
GeneratedBoards/Documents/4x4/
GeneratedBoards/Documents/9x9/
GeneratedBoards/Documents/16x16/
GeneratedBoards/Documents/25x25/
GeneratedBoards/Documents/36x36/
GeneratedBoards/Documents/49x49/
GeneratedBoards/Documents/64x64/
GeneratedBoards/Documents/81x81/
Times/
time_analysis.py
