__pycache__/
GeneratedBoards/Documents/4x4/
GeneratedBoards/Documents/9x9/
GeneratedBoards/Documents/16x16/
GeneratedBoards/Documents/25x25/
GeneratedBoards/Documents/36x36/
GeneratedBoards/Documents/49x49/
